<h1>Listing components</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Category</th>
  </tr>

<% @components.each do |component| %>
  <tr>
    <td><%=h component.title %></td>
    <td><%=h component.category_id %></td>
    <td><%= link_to 'Show', component %></td>
    <td><%= link_to 'Edit', edit_component_path(component) %></td>
    <td><%= link_to 'Destroy', component, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>