<% content_for :east do %>
  <%= render :partial => 'info_pane' %>
<% end %>

<div class="btn-edit">
  <%= link_to 'Edit', edit_component_path(@component), :class => "btn-mac" %>
  <%= link_to 'Delete', component_path(@component), :confirm => 'Are you sure?', :method => :delete, :class => "btn-mac" %>
</div>
<div id="tabs" >

<ul class="btn-bar-mac ui-layout-north">
  <li><a href="#tabs-1">Preview</a></li>
  <li><a href="#tabs-2">HTML</a></li>
  <li><a href="#tabs-3">CSS</a></li>
  <li><a href="#tabs-4">Javascript</a></li>	
</ul>

<!-- <div > -->
<iframe id="tabs-1" class="ui-layout-center" src="<%= preview_component_path(@component) %>"></iframe>	
<!-- </div> -->

<div id="tabs-2" class="ui-layout-center">
<pre><code><%=h @component.html %></code></pre>
</div>

<div id="tabs-3" class="ui-layout-center">
<pre><code><%=h @component.css %></code></pre>
</div>

<div id="tabs-4" class="ui-layout-center">
<pre><code><%=h @component.javascript  %></code></pre>
</div>

</div>

<script type="text/javascript" charset="utf-8">
  $(function(){
      // $("iframe").css("height",  $('.ui-layout-center').height() - $("#tabs .ui-tabs-nav").height() - 3 );  
      $("#tabs").layout({ 
        north: { resizable: false, size: 35, spacing_open: 0, closable: false} 
      });
  });
</script>